/* Style Variables */
@import url(monokai.css);
:root { --white: white; /*#fefdf3;*/ --black: #171615; --dark-blue: #082a4c; --med-blue: #0887E0; /*#09519b;*/ --light-blue: #E3FFFC; --bright-red: #eb3610; }

/* nav bar diff color or top/bottom border, header on normal bg line dividers between items one main bright accent color for highlights understated sans-serif fonts */
/* Base Styles */
* { box-sizing: border-box; }

body { font-family: sans-serif; background-color: white; color: var(--black); line-height: 1.4em; width: auto; margin: 0; }

/* Header Styles */
header { padding-top: 1.5em; padding-left: 5%; padding-right: 5%; color: var(--black); }

header a:link { font-size: 2.5em; font-weight: bold; text-decoration: none; color: var(--black); }

header a:visited { color: var(--black); font-size: 2.5em; font-weight: bold; }

header a:focus { border: 2px solid var(--med-blue); }

header a:hover { border: 0; color: #06D6A0; }

header .tagline { font-style: italic; padding: 0; margin: 0; }

/* Navbar Styles */
nav { font-size: 1.1em; padding-left: 5%; padding-right: 5%; padding-bottom: 0.5em; width: auto; }

nav a { margin-right: 0.5em; }

nav a { padding: 1px 1px 0; text-decoration: none; }

nav a:link { color: var(--black); }

nav a:visited { color: var(--black); }

nav a:focus { border: 2px solid var(--med-blue); }

nav a:hover { border-bottom: 3px solid #06D6A0; }

nav .active { border-bottom: 3px solid #06D6A0; }

/* Main Block Styles */
main { max-width: 90%; margin-left: 5%; margin-right: 5%; margin-top: 1em; padding: 0em 2em 2em 2em; border-radius: 3px; }

main hr { border: 2px solid #5D879E; }

main h1 { text-align: center; }

main a { padding: 1px 1px 0; text-decoration: none; }

main a:link { color: var(--med-blue); border-bottom: 2px solid; }

main a:visited { color: var(--med-blue); }

main a:focus { border-bottom: 2px solid var(--med-blue); color: var(--med-blue); }

main a:hover { border-bottom: 2px solid var(--med-blue); color: var(--med-blue); }

/* Home Banner Styles */
.home-banner { width: 70%; background-color: white; margin: auto; padding: 1em 3em 1em 3em; }

/* Featured Content Styles */
.featured-content { display: flex; flex-wrap: wrap; margin-top: 3em; }

.featured-item { width: 45%; padding-left: 1em; padding-right: 1em; margin: auto; }

.featured-item h2 { text-align: center; }

@media only screen and (max-width: 800px) { .featured-item { width: 100%; padding: 0; } }

/* Book Gallery Styles */
.book-gallery { padding-top: 1em; }

.flex-container { display: flex; flex-wrap: wrap; }

.book-gallery h2 { text-align: center; }

.book-item { max-width: 20%; padding-left: 1em; padding-right: 1em; padding-bottom: 1em; margin: auto; }

.book-item img { max-width: 100%; height: auto; }

@media only screen and (max-width: 800px) { .book-item { max-width: 33%; } }

@media only screen and (max-width: 600px) { .book-item { max-width: 50%; } }

/* Footer Styles */
footer { text-align: center; font-size: 0.7em; padding-top: 2em; padding-left: 5%; padding-right: 5%; }

/*pygments syntax highlighting*/

/*# sourceMappingURL=styles.css.map */